Bibliotecas/
Informacion/
Utilidades/
Documentacion/

Comunes/bin/
Comunes/obj/

Datos/bin/
Datos/obj/

Logica/bin/
Logica/obj/

LogicaPresentacion/bin/
LogicaPresentacion/obj/

Preferencias/bin/
Preferencias/obj/

Presentacion/bin/
Presentacion/obj/
