<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="conexionesGuardadas" type="Zuliaworks.Netzuela.Valeria.Preferencias.ConexionesSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <conexionesGuardadas>
    <parametrosDeConexion>
      <add id="Remoto" anfitrion="http://localhost:4757/Api.svc?wsdl" servidor="Netzuela" instancia="Isla Providencia"
          metodoDeConexion="" argumentoDeConexion="" />
    </parametrosDeConexion>
  </conexionesGuardadas>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>