<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="conexionesGuardadas" type="Zuliaworks.Netzuela.Valeria.Preferencias.ConexionesSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="credenciales" type="Zuliaworks.Netzuela.Valeria.Preferencias.AutentificacionSection, Preferencias, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <conexionesGuardadas>
    <parametrosDeConexion>
      <add id="Local" anfitrion="localhost" servidor="MySQL" instancia="mysqld" metodoDeConexion="TCP/IP" argumentoDeConexion="3306" />
    </parametrosDeConexion>
  </conexionesGuardadas>
  <credenciales>
    <llavesDeAcceso>
      <add id="Local" llave="K4ggD9jrExAWP3nBkV98c+oIhaCnfd1oQMjb3RGqSTSqBbnC1IiztCmM1X4pZn5OAim0AtRk86YKGuBhN0Gqm9qI0C9mreH2Ns9ulIrqYHIivvczBlC9gAI8/XnHEARhia4l8odJwf+Ri/INGuwF5M8jkJ21sTwdNok5WrAnrl83L6C4merJyi51NKqC0br/vYO2ihfCZmIyhFiwqbU5haOEAG8R2OI+srQyhHmD0Nouv7YvztoSSXumo1W4kGBxN+TYqYJaCXoWWT8rQ4H4/c39H+r0fXIuevQCwpoSFOoUEyMIym4IvdjY6+x7hdVFneKq1U3q4L78NZCbXtZpgQ==" />
    </llavesDeAcceso>
  </credenciales>
  <log4net>
    <appender name="consola" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="archivo" type="log4net.Appender.FileAppender">
      <file value="/var/www/log/spuria_log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="archivo" />
    </root>
  </log4net>
  <system.web>
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <authentication mode="None" />
    <compilation>
      <assemblies>
        <add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>